@use "../../base/variables" as var;
@use "../../base/mixin" as mix;

.sectionLabel {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-top: var.$space-unit;
    padding-bottom: var.$space-unit * 2;
    color: var.$color-main-text;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1;

    @include mix.menu-font;

    &::before,
    &::after {
        content: '';
        display: block;
        flex: 1 0 10%;
        height: 0;
        border-bottom: 1px solid var.$color-main-text;
    }
    &::before {
        margin-right: 22px;
    }
    &::after {
        margin-left: 22px;
    }
}

// ロゴ
.logo {
    display: inline-block;
    padding: 10px 0;
    color: var.$color-main-text;
    @include mix.menu-font;
    font-size: 26px;
}

// 記事の見出し
.articleLabelL {
    padding: 0 0 20px;
    font-weight: normal;
    font-size: 34px;
}

.articleLabelM {
    padding: 40px 0 20px;
    font-weight: normal;
    font-size: 26px;
}

.articleLabelS {
    padding: 40px 0 20px;
    font-weight: normal;
    font-size: 26px;
}