@use "sass:math";
@use "../../base/variables" as var;
@use "../../base/mixin" as mix;

.l-column {
    flex: 0 1 var.$base-content-width;
    max-width: var.$base-content-width;
    margin: 0 auto;
    padding: 0 var.$space-unit;
    @include mix.mq-sp {
        padding: 0 var.$sp-space-unit * 2;
        width: auto;
    }
}

.l-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.l-halfColumn {
    flex: 1 0 0px;
    max-width: math.div( (var.$base-content-width - var.$column-space) ,2);
    margin-right: var.$column-space;
    &:nth-child(even) {
        margin-right: 0;
    }

    @include mix.mq-sp {
        flex: 1 1 100%;
        max-width: none;
        margin-right: 0;
    }
    
}

.l-quaterColumn{
    flex: 1 0 0px;
    max-width: math.div( (var.$base-content-width - var.$column-space * 3), 4);
    margin-right: var.$column-space;
    &:nth-child(4n) {
        margin-right: 0;
    }
}

.l-halfTile {
    display: flex;
    flex: 1 1 50%;
    margin: 0;
    padding: 0;
    @include mix.mq-sp {
        flex: 1 1 100%;
    }
}

.l-fitImg {
    max-width: 100%;
    max-height: 100%;
}