@use "../../base/variables" as var;
@use "../../base/mixin" as mix;

.Footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: var.$space-unit * 2 auto 0;
    padding: var.$space-unit 0;
    background-color: var.$color-black;
    color: var.$color-link;
    &__head {
        flex: 2 1 50%;
        @include mix.mq-sp {
            flex: 1 1 100%;
        }
    }
    &__head,
    &__body {
        padding-right: var.$space-unit;
        @include mix.mq-sp {
            margin-bottom: var.$sp-space-unit;
            padding-right: 0;
        }
    }
    &__body,
    &__foot {
        flex: 1 1 25%;
        @include mix.mq-sp {
            flex: 1 1 100%;
        }
    }
    a {
        color:var.$color-link;
        &:hover {
            color: var.$color-white;
        }
    }
}