@use "../../base/mixin" as mix;
@use "../../base/variables" as var;

.Menu {
    display: flex;
    justify-content: space-around;
    @include mix.menu-font;
    
    &__item {
        display: block;
        padding: 10px 15px;
        text-transform: uppercase;
    }
    &--sub {
        flex-direction: column;
    }
}

.SpMenu {
    @include mix.mq-sp {
        position: fixed;
        top: var.$sp-space-unit;
        right: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
    }

    &__wrapper {
        left: 0;
        width: 100%;
    }
}