.SNS {
    display: flex;
    font-size: 22px;
    &__item {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    .fas {
        font-size: 16px;
        color: red;
    }
    &__text {
        position: absolute;
        clip-path: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        padding: 0;
        border: 0;
        overflow: hidden;
    }
}