@use "../base/variables" as var;

.IconPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
        margin-bottom: var.$space-unit;
        padding: var.$sp-space-unit;
        font-size: 26px;
        color: var.$color-link;
    }
    &__head {
        padding: var.$space-unit;
        font-size: 18px;
        text-align: center;
    }
    &__body {
        max-width: 100%;
        padding: var.$space-unit * 1.5;
    }
}