@use "variables" as var;

// fonts
@mixin menu-font() {
    font-family: var.$font-sub;
    font-weight: 300;
}

@mixin title-font() {
    font-family: var.$font-sub;
    font-weight: 400;
}

// メディアクエリ
@mixin mq-sp($max: var.$sp-max-width) {
    @media screen and (max-width: #{max}) {
        @content;
    }
}
@mixin mq-pc($min: var.$pc-min-width) {
    @media screen and (min-width: #{min}) {
        @content;
    } 
}
